* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background: linear-gradient(90deg, #EFD5F2, #D2A2F2, #B78DF2, #6DBFF2, #BBDDF2);
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    min-width: 400px;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ctn-input {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    margin-bottom: 40px;
}

#ctn-combination {
    padding: 15px;
    font-size: 20px;
}

#ctn-msg {
    position: absolute;
    display: none;
    top: 18%;
    padding: 3px;
}

.msg {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.ctn-button {
    margin-top: 20px;
    text-align: center;
}

label,
input {
    position: relative;
    vertical-align: middle;
}

#ctn-combination label,
#ctn-combination input {
    margin: 10px 5px;
}

input[type="text"],
input[type="number"] {
    padding: 5px 10px;
    outline: none;
    border: 2px inset;
    background-color: #BBDDF2;
    box-shadow: inset 3px 5px 4px gray,
                inset 1px 3px 10px gray;
}

input[type="text"] {
    font-size: 20px;
    min-width: 100px;
}

input[type="number"] {
    font-size: 20px;
    width: 75px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    transform: scale(1.5);
    transition: .25s;
}

input[type="checkbox"]:checked{
    background-color: red;
}

input[type="button"] {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    padding: 10px 0;
    outline: none;
    border: 2px outset;
    border-radius: 30px;
    box-shadow: 0 5px 4px gray,
                0 5px 2px gray;
    transform: translateY(-4px);
}

#generate:active {
    background-color: blue;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: 150ms;
}

#clear:active {
    background-color: red;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: 150ms;
}

@media  screen and (max-width: 555px) {
    input[type="text"] {
        width: 100%;
    }

    #ctn-input {
        flex-direction: column;
    }

    #ctn-msg {
        top: 21%;
    }
}